<h1>
	Logpile - Client Log API for java application
</h1>
<div class="inner">
	<table id="sub_menu">
		<tr>
			<td>
				<strong>
					Client :
				</strong>
			</td>
			<td>
				<a href="{{site.baseurl}}/client"><li>Main</li></a>
			</td>
			<td>
				<a href="{{site.baseurl}}/client/configuration.html"><li>Configuration</li></a>
			</td>
			<td>
				<a href="{{site.baseurl}}/client/handlers.html"><li>The handlers</li></a>
			</td>
			<td>
				<a href="{{site.baseurl}}/client/example.html"><li>Example</li></a>
			</td>
		</tr>
	</table>
</div>
