<div id="status-2" ng-controller="Resume">
    <div class="alert alert-info" ng-show="notinitialized">
        <button type="button" class="close" data-dismiss="alert">
            &times;
        </button>
        <h4>
            Datas not up to date.
        </h4>
        Wait a few minutes for the update.
    </div>
    <div class="alert  alert-success" ng-show="notinitialized == false && datas.totalError ==0">
        <h4>
            No Errors detected
        </h4>
        Errors count : 0
    </div>
    <div class="alert alert-error" ng-show="datas.totalError > 0">
        <h4>
            Errors detected
        </h4>
        <p>
            Errors count :
            <strong>
                {{datas.totalError}}
            </strong>
        </p>
        <p>
            The list of the applications in error is below.
        </p>
    </div>
    <div class="alert alert-block" ng-show="newdatas.totalError >=0">
        <button type="button" class="close" data-dismiss="alert">
            &times;
        </button>
        <h4>
            Warning!
        </h4>
        New datas received from server. click on the button to refresh the datas.
        <button class="btn btn-danger" type="button" ng-click="refresh();">
            <i class="icon-refresh icon-white">
            </i>
            Refresh
        </button>
    </div>
    <div class="accordion" id="accordionApplications">
        <div ng-repeat="application in datas.applications" class="accordion-group ">
            <!-- titleStatus -->
            <div class="accordion-heading mess-tm">
                <div data-toggle="collapse" data-parent="#accordionApplications" data-target="#{{application.indexName}}"
                class=" accordion-toggle">
                    <h4>
                        {{application.name}}
                    </h4>
                </div>
            </div>
            <div id="{{application.indexName}}" class="accordion-body collapse" style="padding : 5px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;background-color: #EEE;">
                <p>
                    <h5>
                        <strong>
                            Errors :
                        </strong>
                        {{application.count}}
                    </h5>
                </p>
                <p>
                    <h5>
                        <strong>
                            Last components in error :
                        </strong>
                    </h5>
                </p>
                <h4>
                    <ul>
                        <li ng-repeat="component in application.components">
                            {{component}}
                        </li>
                    </ul>
                </h4>
            </div>
        </div>
    </div>
</div>
