<div ng-controller="WebOutput">
    <div class="row">
        <form class="form-inline" role="form">
            <fieldset >
            <div class="form-group">
                <label for="searchText" class="col-lg-2 col-2 control-label inline-label" >
                    Filter search :
                </label>
                <div class="col-lg-6 col-lg-6">
                    <input type="text" class="form-control input-sm" name="searchText" ng-model="searchText"
                    ng-disabled="events == null || events.length == 0">
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-sm col-lg-2 col-2 " ng-click="advanced = !advanced" data-toggle="button">Advanced</button>
        </fieldset>
        </form>
        
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div ng-show="advanced">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-2 col-2 control-label" for="selectException">
                   Show :
                </label>
                <div class="col-lg-3 col-lg-3" >
                    <select class="form-control input-sm" name="selectException" ng-model="filterException" ng-disabled="events == null || events.length == 0" placeholder="Password">
                        <option value="" selected="selected">
                        </option>
                        <option value="Exc">
                            With exception
                        </option>
                        <option value="NoneExc">
                            Without exception
                        </option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div id="events-tab" class="tab-pane" ng-show="active">
        <table id="table-server" class="borderRadius table table-hove">
            <thead>
                <tr>
                    <th class="alignercell">
                        +
                    </th>
                    <th class="alignercell">
                        Server Id
                    </th>
                    <th class="alignercell">
                        Date
                    </th>
                    <th class="alignercell">
                        Application
                    </th>
                    <th class="alignercell">
                        Message
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in events | filter:searchText | filter:filterExceptionFct">
                    <td id="{{$index}}" class="alignercell">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <!--li class="glyphicon glyphicon-asterisk"></li-->
                                Actions
                                <span class="glyphicon glyphicon-cog">
                                </span>
                            </button>
                            <ul class="dropdown-menu">
                                <!-- dropdown menu links -->
                                <li>
                                    <a ng-click="showDetail($index);">Detail</a>
                                </li>
                                <li>
                                    <a ng-click="remove($index);">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="alignercell">
                        {{event.serverid}}
                    </td>
                    <td class="alignercell">
                        {{event.formattedDate}}
                    </td>
                    <td class="alignercell">
                        {{event.application}}
                    </td>
                    <td class="alignercell">
                        {{event.message}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-info alignercell" ng-show="events == null || events.length == 0">
            <h2>
                No activities
            </h2>
        </div>
    </div>
    <div class="modal fade" id="detailModal">
        <div class="modal-dialog" style="width: 75%;left: 35%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                        x
                    </button>
                    <h3 class="modal-title">
                        Detail
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"> Description </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse ">
                                <div class="accordion-inner">
                                    <div>
                                        <strong>
                                            Date :
                                        </strong>
                                        {{selectedItem.formattedDate}}
                                    </div>
                                    <div>
                                        <strong>
                                            Application name :
                                        </strong>
                                        {{selectedItem.application}}
                                    </div>
                                    <div>
                                        <strong>
                                            Component :
                                        </strong>
                                        {{selectedItem.component}}
                                    </div>
                                    <div>
                                        <strong>
                                            Message :
                                        </strong>
                                        {{selectedItem.message}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Stack trace.</a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                {{selectedItem.stacktrace}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="well" style="height: 50px;border: 0px;box-shadow: 0 0 0 rgba(0, 0, 0, 0.05) inset;">
    &nbsp;
</div>
